In [236]:
import pandas as pd
import os 
from datetime import date

In [237]:
#df = pd.read_csv("Attendance.csv")
#df1 = pd.read_csv("Final.csv")
#df1 = pd.read_excel("Attendence.xlsx")

In [238]:
#df

In [239]:
#df1

In [240]:
today = date.today()
DATE = today.strftime("%m/%d/%y")

In [241]:
DATE

'06/29/22'

In [242]:
f = open("Attendance.csv","r+")
line = f.readlines()

In [243]:
l = len(line)
l = l%2

In [244]:
f1 = open("Final.csv","w+")
f1.writelines(f"{DATE}\n,")
#for i in range(l):
f1.writelines(f"{line}")

In [245]:
df = pd.read_csv("Final.csv")

In [246]:
df

Empty DataFrame
Columns: [06/29/22['\n',  '\n',  '27_AASHISH JHA - AASHISH JHA, ']]
Index: []

In [247]:
df.drop_duplicates(keep='first',inplace=True)

Empty DataFrame
Columns: [06/29/22['\n',  '\n',  '27_AASHISH JHA - AASHISH JHA, ']]
Index: []

In [248]:
df

Empty DataFrame
Columns: [06/29/22['\n',  '\n',  '27_AASHISH JHA - AASHISH JHA, ']]
Index: []