In [1]:
from datetime import date
import pandas as pd

In [2]:
namelist = ['Ashish','Amit','Raj','xyz']

In [4]:
today = date.today()
DATE = today.strftime("%m/%d/%y")

In [5]:
column = {DATE : namelist}

In [6]:
df = pd.DataFrame(column,columns=[DATE])

In [7]:
df

  07/06/22
0   Ashish
1     Amit
2      Raj
3      xyz

In [8]:
df.to_csv(f"test.csv")